@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PT-Sans-Regular.ttf');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/PT-Sans-Bold.ttf');
}

@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/PT-Sans-Narrow-Regular.ttf');
}
