* {
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PT Sans';
    font-weight: normal;
    position: fixed;
}

#season-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#countdown-container {
    background-color: #00b592;
    background-image: url("../images/clock/clock-fullshadow.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

#countdown-labels {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    text-shadow: 0 0 10px #008168;
}
