@media screen and (orientation:landscape) {
    #season-splash {
        width: 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 4em;
    }

    #countdown-container {
        height: 4em;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2em;
        padding: 1em;
        background-color: rgba(127, 127, 127, 0.3);
        border-radius: 1em;
    }

    .time-value {
        font-size: 2.75em;
        line-height: 1em;
    }

    #countdown-title, .time-label {
        line-height: 1em;
        font-weight: normal;
    }

    #countdown-title {
        font-size: 1.5em;
    }

    .time-label {
        font-family: "PT Sans Narrow";
        font-size: 2em;
        margin-left: -.1em;
        margin-right: .1em;
    }
}
