@media screen and (orientation:portrait) {
    #season-background {
        filter: blur(10px);
        transform: scale(1.2);
    }

    #season-splash {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    #countdown-container {
        height: 100px;
        position: absolute;
        bottom: 15%;
        transform: translate(50%, 0);
        padding: 15px;
        padding-left: 130px; /* Make room for the bg image to show */
        border-radius: 15px;
        overflow: auto;
        clear: both;
    }

    .time-value {
        font-size: 70px;
        line-height: 1em;
    }

    #countdown-title {
        font-size: 40px;
        line-height: 35px;
        font-weight: normal;
    }

    .time-label {
        font-family: "PT Sans Narrow";
        font-size: 50px;
        margin-right: 10px;
        line-height: 35px;
        font-weight: normal;
    }
}
