@media screen and (orientation:portrait) {
    #season-background {
        filter: blur(10px);
    }

    #season-splash {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    #countdown-container {
        height: 100px;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 15px;
        background-color: rgba(127, 127, 127, 0.3);
        border-radius: 15px;
    }

    .time-value {
        font-size: 70px;
        line-height: 1em;
    }

    #countdown-title, .time-label {
        line-height: 35px;
        font-weight: normal;
    }

    #countdown-title {
        font-size: 40px;
    }

    .time-label {
        font-family: "PT Sans Narrow";
        font-size: 50px;
        margin-right: 10px;
    }
}
